/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/
package-lock.json

# shadow-cljs cache, port files
/.shadow-cljs/

# smart contracts
/smart-contract/node_modules
/smart-contract/build
/smart-contract/.db




